/*-------------------Mobile VERSION---------------------*/

a:link {
  color: #fff;
  text-decoration: none;
  font-family: "Avenir", sans-serif;
  font-size: 2rem;
}

a:visited {
  color: #000;
  text-decoration: none;
  font-family: "Avenir", sans-serif;
}
a:active {
  color: #000;
  text-decoration: none;
  font-family: "Avenir", sans-serif;
}
a:hover {
  color: #fff;
  text-decoration: underline;
  font-family: "Avenir", sans-serif;
}
a:focus {
  color: #fff;
  text-decoration: underline;
  font-family: "HelvAveniretica", sans-serif;
}

html,
body {
  width: 100%;
  background: rgb(10, 10, 10);
  color: rgb(245, 245, 245);
  margin: 0px;
  overflow: auto;
  font-family: "Helvetica", sans-serif;
}

p {
  font-size: 1rem;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main {
  max-width: 80%;
  margin-left: 10%;
}

h2 {
  text-align: center;
}

#logo img {
  max-width: 80%;
  margin: auto;
  display: block;
  margin-bottom: -20px;
  margin-top: -20px;
}

#ep_cover img {
  width: 80%;
  margin: auto;
  display: block;
  padding-top: 20px;
}

#listen-container {
  background-color: #0d4a4e;
  width: 125%;
  margin-left: -12.5%;
  padding-top: 20px;
  padding-bottom: 80px;
}
.blurb {
  max-width: 80%;
  margin: 10%;
  text-align: center;
}

#streaming-container {
  width: 65%;
  margin-left: 17.5%;
}
.streaming {
  color: white;
  border: solid 1px white;
  border-radius: 500px;
  height: 89px;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

.link {
  position: relative;
  top: -30px;
  left: 25px;
}
.streaming img {
  max-width: 16%;
  margin-left: 10px;
  margin-top: 3px;
}

#show-container {
  padding-top: 40px;
}

.show {
  padding-bottom: 20px;
  text-align: center;
}

.divider {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 80px;
  height: 1px;
  background: black;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(black),
    to(black),
    color-stop(50%, white)
  );
}

.divider2 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  height: 1px;
  background: black;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(#0d4a4e),
    to(#0d4a4e),
    color-stop(50%, white)
  );
}
